* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.page {
   min-width: 1100px;
   max-width: 1600px;
   margin: auto;
   font-family: Inter, Arial, sans-serif;
   font-size: 16px;
   line-height: 20px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 30px 80px 40px;
  background-color: white;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin: 0 0 183px -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
}

.nav__link {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.nav__link:hover {color: #2f80ed;}

.header__title {
  max-width: 709px;
  font-size: 58px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2F80ED;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  inset: 124px 5px auto auto;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.header__paragraph {
  font-weight: 500;
  color: #6F6F6F;
}

.header__paragraph:last-child {
  position: absolute;
  inset: auto 80px 40px auto;
}